@font-face {
    font-family: Genericons;
    src: url(fonts/genericons-regular-webfont.eot);
    src: url(fonts/genericons-regular-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/genericons-regular-webfont.woff) format('woff'), url(fonts/genericons-regular-webfont.ttf) format('truetype'), url(fonts/genericons-regular-webfont.svg#genericonsregular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: behance;
    src: url(fonts/behance.eot?61221480);
    src: url(fonts/behance.eot?61221480#iefix) format('embedded-opentype'), url(fonts/behance.woff?61221480) format('woff'), url(fonts/behance.ttf?61221480) format('truetype'), url(fonts/behance.svg?61221480#behance) format('svg');
    font-weight: 400;
    font-style: normal
}


.wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: auto;
    grid-row-gap: 40px;
    grid-column-gap: 16px;
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 2;
    grid-row: 1;
}

.three {
    grid-column: 3;
    grid-row: 1;
}


a,
body,
div,
font,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
p,
ul {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

html {
    font-size: 62.5%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    background: #fff
}

article,
footer,
header,
main,
nav {
    display: block
}

ul {
    list-style: none
}

a:active,
a:focus,
a:hover {
    outline: 0
}

a img {
    border: 0
}

.container {
    margin: 0 20px
}

.column {
    margin-bottom: 1em
}

@media (min-width:1024px) {
    .column {
        float: left;
        margin-bottom: 0;
        padding: 0 15px
    }

    .column.full {
        width: 100%;
        float: none !important
    }
}

@media (min-width:1090px) {
    .container {
        margin: 0 auto;
        width: 960px
    }
}

body {
    letter-spacing: 1px
}

body,
button {
    color: #666;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.8;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

p {
    margin-bottom: 1.5em
}

p:last-child {
    margin-bottom: 0
}

img {
    height: auto;
    max-width: 100%
}

ul {
    margin: 0 0 1.5em 3em
}

ul {
    list-style: disc
}

li > ul {
    margin-bottom: 0;
    margin-left: 1.5em
}

button {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}

button {
    border: 1px solid #ccc;
    border-radius: 0;
    background: #ccc;
    color: #fff;
    cursor: pointer;
    -webkit-appearance: button;
    padding: 3px 15px
}

button:hover {
    opacity: .6
}

button::-moz-focus-inner {
    border: 0;
    padding: 0
}

html {
    border: 12px solid #111
}

.site-header {
    padding-top: 2em;
    padding-bottom: 1em
}

.header-image {
    margin-top: 1em;
    text-align: center;
    margin-bottom: 2em
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

a:visited {
    color: #666
}

a:hover {
    color: #ccc;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

a:active,
a:focus {
    text-decoration: none
}

.site-branding {
    margin-bottom: 1em;
    text-align: center
}

.site-title {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1;
    margin-top: 25px;
    margin-bottom: 20px;
    text-transform: uppercase
}

.site-title a {
    text-decoration: none
}

.site-description {
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    margin-top: -15px;
    margin-bottom: 35px;
    padding-top: 0
}

.menu {
    display: table;
    margin: 0 auto
}

.main-navigation {
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-transform: uppercase
}

.main-navigation a {
    text-decoration: none
}

.main-navigation ul {
    list-style: none;
    margin: 0 auto;
    padding: 3px 0
}

.main-navigation li {
    display: inline;
    float: left;
    margin: 0 1em;
    position: relative
}

.main-navigation ul ul {
    display: none;
    text-transform: none;
    box-shadow: none;
    opacity: .9;
    float: left;
    left: -1em;
    padding: .5em 1em;
    position: absolute;
    top: 1.5em;
    z-index: 99999;
    padding-top: 35px;
    transition: all .3s;
    font-weight: 400;
    background-color: #fff
}

.main-navigation ul ul li {
    margin: 0;
    width: 150px
}

.main-navigation ul li:hover > ul {
    display: block
}

.menu-toggle {
    display: none
}

.site-main .post-navigation {
    margin: 15px 0 0;
    overflow: hidden
}

.entry-content:after,
.entry-content:before,
.site-content:after,
.site-content:before,
.site-footer:after,
.site-footer:before,
.site-header:after,
.site-header:before {
    content: '';
    display: table
}

.entry-content:after,
.site-content:after,
.site-footer:after,
.site-header:after {
    clear: both
}

#primary {
    padding-top: 2em
}

.hentry {
    margin: 0 0 3.5em
}

.entry-thumbnail {
    padding: 1em 0 0 0
}

.entry-title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase
}

.entry-title a {
    text-decoration: none;
    color: #222
}

.entry-title a:hover {
    color: #ccc !important
}

.entry-content {
    white-space: normal
}

.entry-content p:last-child {
    margin-bottom: 0
}

.entry-content ul li {
    margin-bottom: 12px
}

.entry-content,
.page-content {
    margin: 1em 0
}

.entry-meta {
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 1px
}

.entry-meta a {
    color: #7f7f7f !important;
    text-decoration: none
}

.entry-meta a:hover {
    text-decoration: underline
}

.entry-footer {
    font-style: italic;
    padding-top: 1em;
    padding-bottom: .5em
}

.entry-footer a {
    color: #7f7f7f !important;
    text-decoration: none
}

.entry-footer a:hover {
    text-decoration: underline
}

.page .entry-footer {
    border-bottom: 0
}

.entry-meta {
    margin-top: 5px
}

.meta-nav {
    font-size: 13px
}

.page-header {
    margin-bottom: 1.5em
}

.page-title {
    line-height: 1;
    margin-top: 0;
    text-transform: capitalize
}

.page-title:before {
    content: "#"
}

.page-header p {
    font-style: italic;
    margin-bottom: .5em
}

.site-footer {
    padding: 2em 0;
    text-align: center;
    background-color: #333;
    color: #999
}

.site-footer a {
    text-decoration: none;
    color: #999
}

.button {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0 0 1em;
    padding: 10px 15px;
    text-align: center
}

a.button {
    text-decoration: none
}

a:hover.button {
    color: #fff;
    opacity: .6
}

@media (max-width:600px) {
    .entry-meta {
        font-size: 12px !important
    }
}

@media screen and (min-width:1024px) {
    .site-content {
        margin-left: -15px;
        margin-right: -15px;
        overflow: hidden;
        min-height: 280px
    }

    .page .column {
        float: left
    }
}

@media screen and (max-width:1023px) {
    #primary {
        padding-top: 1em
    }

    .menu-toggle {
        display: block
    }

    button.menu-toggle {
        background: 0 0;
        border: 0;
        box-shadow: none;
        color: #fff;
        font-size: 14px;
        margin: 0 auto;
        outline-style: none;
        text-shadow: none;
        text-transform: uppercase
    }

    .main-navigation {
        display: block;
        float: none;
        margin: 0 auto
    }

    .main-navigation a {
        display: block;
        padding: .5em 0;
        text-decoration: none
    }

    .main-navigation ul {
        display: none
    }

    .main-navigation li {
        float: none;
        margin: 0;
        position: relative;
        padding: 0;
        text-align: center
    }

    .main-navigation li:last-child {
        border-bottom: 0
    }

    .main-navigation ul li > ul {
        display: block;
        margin-left: 0
    }

    .main-navigation ul ul {
        border-left: 0;
        box-shadow: none;
        display: block;
        float: none;
        left: 0;
        padding: 0;
        position: relative;
        top: 0;
        text-transform: capitalize;
        z-index: 99999
    }

    .main-navigation ul ul li {
        border-bottom: 0;
        padding: 0
    }
}

@media print {
    body {
        background: 0 0 !important;
        color: #2b2b2b;
        font-size: 12pt
    }

    .hentry,
    .page-content,
    .page-header,
    .site-content .entry-content,
    .site-content .entry-header,
    .site-content .entry-meta {
        max-width: 100%
    }

    .site-footer {
        display: none
    }

    .entry-meta,
    .entry-meta a,
    .site-title a {
        color: #2b2b2b !important
    }

    .entry-content a,
    .page-content a {
        text-decoration: none
    }

    .entry-thumbnail,
    .site-content .entry-header,
    .site-header {
        background: 0 0
    }

    .site-title {
        float: none;
        font-size: 19pt
    }

    .content-area {
        padding-top: 0
    }

    .entry-thumbnail img {
        margin: 0 10px 24px
    }

    .page-title {
        margin: 0 10px 48px
    }
}

@media (min-width:480px) {
    .portfoliogrid {
        margin-left: -1.2%;
        margin-right: -1.2%
    }

    .portfoliogrid article {
        width: 30.93%;
        margin-left: 1.2%;
        margin-right: 1.2%
    }
}

.page-template-template-portfolio .grid .entry-thumbnail img {
    width: 100%;
    transition: all .4s
}

.page-template-template-portfolio .grid .entry-thumbnail img:hover {
    opacity: .8;
    transition: all .4s
}

.portfoliogrid .entry-thumbnail {
    padding-top: 0
}

.portfoliogrid .entry-title {
    font-size: 14px;
    color: #111;
    font-weight: 400
}

.portfoliogrid article.hentry {
    margin-bottom: 30px
}

.woocommerce a.button {
    background-color: #f4f5f6;
    color: #333;
    border: 1px solid rgba(0, 0, 0, .1);
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px
}

.woocommerce a.button,
.woocommerce button.button {
    border-radius: 0
}

.woocommerce a.button.alt,
.woocommerce button.button.alt {
    background-color: #222
}

.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover {
    background-color: #000
}

body {
    font-family: Roboto
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Oswald
}

.site-title {
    font-family: 'Herr Von Muellerhoff'
}

.site-description {
    font-family: 'Quattrocento Sans'
}

.entry-title {
    font-family: Oswald
}

.main-navigation {
    font-family: Oswald
}

body {
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    text-align: left;
    text-transform: none
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

.site-title {
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    text-transform: none
}

.site-description {
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0;
    text-align: center;
    text-transform: none
}

.entry-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase
}

.entry-meta {
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0;
    text-align: left;
    text-transform: none
}

.main-navigation {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase
}

body,
button {
    color: #888
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222
}

.entry-title,
.entry-title a {
    color: #222
}

.main-navigation a {
    color: #222 !important
}

@media screen and (max-width:1023px) {
    button.menu-toggle {
        color: #222
    }
}

.site-description,
.site-title a {
    color: #222
}
